@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-family: SimHei,"SimHei","tahoma","arial","Microsoft YaHei";
	font-size: 14px;
}
ul,li,a,a:hover{
	text-decoration: none;
	list-style-type: none;
}
.clear {
	zoom: 1;
}
.clear:after {
	content: "";
	display: block;
	clear: both;
	overflow: hidden;
	height: 0;
}

/*------------------------------------------ 背景 ------------------------------------------*/
body{
	background: rgb(238,238,238);
}
/*------------------------------------------ 背景 ------------------------------------------*/

/*------------------------------------------ 字体 ------------------------------------------*/
@font-face { 
	font-family: xiangsijian;  
	src: url("../others/xiangsijian.ttf");
} 
@font-face { 
	font-family: lilin;  
	src: url("../others/lilin.TTF");
}
@font-face { 
	font-family: lilina;  
	src: url("../others/lilina.TTF");
}
@font-face { 
	font-family: BRADHITC;  
	src: url("../others/BRADHITC.fon");
}
@font-face { 
	font-family: BRADHITCb;  
	src: url("../others/BRADHITCb.TTF");
}
/*------------------------------------------------------------------------------------------*/

/*---------------------------------------- 栏目标题 ----------------------------------------*/

/*------------------------------------------------------------------------------------------*/

/*------------------------------------------ 头像 ------------------------------------------*/

/*------------------------------------------------------------------------------------------*/

/*------------------------------------------ menu ------------------------------------------*/

/*------------------------------------------------------------------------------------------*/

/*---------------------------------------- 前往按钮 ----------------------------------------*/

/*------------------------------------------------------------------------------------------*/

/*------------------------------------------ logo ------------------------------------------*/

/*------------------------------------------------------------------------------------------*/

/*---------------------------------------- 访问按钮 ----------------------------------------*/

/*------------------------------------------------------------------------------------------*/

/*------------------------------------------ nav ------------------------------------------*/

/*------------------------------------------------------------------------------------------*/

/*----------------------------------------- footer -----------------------------------------*/

/*------------------------------------------------------------------------------------------*/

